/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


.main-logo {
	display: flex;
	background: url(../../images/home-hero.jpg) no-repeat top;
	height: 100vh;
	background-size: cover;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/* About Page */
.page-template {

	.hero-image-header {
		height: 100vh;
	}

	.entry-title {
		color: #fff;
		font-size: 3em;
	}

	.about-content {
		text-align: center;
		margin-bottom: 3rem;

		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 700px;
			font-family: Merriweather Web, sans-serif;
			font-size: .85em;
		}
	}
}

/* Products Page */

.post-type-archive {
	h1 {
		text-align: center;
	}

	.product-loop {

		display: flex;
		justify-content: center;
		padding-bottom: 30px;
		border-bottom: 1px dashed;

		a {
			text-decoration: none;
			margin: 20px;
			text-transform: uppercase;
			font-family: Novecento Sans Web, sans-serif;

		}
	}

	.archive-product-list {
		grid-gap: 1.5rem;
		padding-top: 30px;
		display: grid;
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-columns: 25% 25% 25% 25%;

	}
}

/* Find Us Page */

.find-us-area {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.widget_area {
	text-decoration: none;
}

.page-template-default {
	font-family: Merriweather Web, serif;
	font-size: .90rem;


	label {
		font-family: Novecento Sans Web, sans-serif;
		text-transform: uppercase;
	}

	.entry-content {
		iframe {
			border: none;
		}

		textarea {
			width: 50%;
		}
	}

}


/* Journal Page */

.journal-page {
	display: grid;
	grid-template-columns: 2fr 1fr;

	.article-area{
		margin-bottom: 30px;
	}

	.article-area a {
		font-family: Novecento Sans Web, sans-serif;
		font-size: .8rem;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid black;
		background: #fff;
		color: black;
		padding: .8rem .8rem;
	}

	.entry-content {
		font-family: Merriweather Web, serif;
	}

	.entry-meta {
		font-family: Novecento Sans Web, sans-serif;
		text-transform: uppercase;
	}

	.entry-title a {
		border: none;
	}

	.entry-header img {
		margin-top: 30px;
	}
}