/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
body{
	font-family: $font__main;

}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


.main-logo {
	display: flex;
	background: url(../../images/home-hero.jpg) no-repeat top;
	height: 100vh;
	background-size: cover;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* About Page */
.page-template {

	h2{
		font-weight: 700;
	}

	.hero-image-header {
		height: 100vh;
	}

	.entry-title {
		color: #fff;
		font-size: 3em;
	}

	.about-content {
		margin-bottom: 3rem;

		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
		}
	}
}

/* Products Page */

.post-type-archive {


	h2{
		font-weight: bold;
		color: $color__text-main;
	}

	.product-loop {
		max-width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding-bottom: 2rem;
		border-bottom: 1px dashed;

		a {
			text-decoration: none;
			margin: 2rem;
			text-transform: uppercase;
			font-size: 1.2rem;
			font-family: Novecento Sans Web, sans-serif;

		}
	}

	.archive-product-list {
		max-width: 1180px;
		margin: 0 auto;
		grid-gap: 1.5rem;
		padding-top: 30px;
		display: grid;
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-columns: 25% 25% 25% 25%;

	}
}

/* Find Us Page */

.find-us-area {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.widget-area {
	padding-left: 4rem;
	padding-top: 3rem;
}

.page-template{

	label {
		font-family: Novecento Sans Web, sans-serif;
		text-transform: uppercase;
	}

	.entry-content {
		iframe {
			border: none;
		}

		textarea {
		margin: 0 auto;
		}
	}

}

/* Journal Page */

.journal-page {

	display: grid;
	grid-template-columns: 2fr 1fr;
	
	img {
		height: auto; 
		width: 750px;
	  }

	.article-area{
		border-right: 1px solid #e1e1e1;
		padding-bottom: 3rem;
		 a {
		font-family: Novecento Sans Web, sans-serif;
		font-size: .8rem;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid black;
		background: $color__background-body;
		color: black;
		padding: .8rem .8rem;
	}
}

	.entry-meta {
		background-color: #248a83;
		color: #fff;
		position: absolute;
		padding: .5rem 1rem;
		bottom: 8px;
		right: 2.3rem;
		text-transform: uppercase;
		font-family: Novecento Sans Web, sans-serif;
	}

	.entry-title {
		position: absolute;
		top: 0;

		a {
		background-color: $color__link;
		border: none;	
		font-size: 2rem;
		color: #fff;
	}
}

	.entry-header {
		position: relative;
		margin-top: 4rem;

}
}

.journal-content-area{
	padding-top: 50px;
}

.journal-page{
	margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}


