.site-footer {
    background: url(../../images/dark-wood.png) center repeat;
    font-size: $font__size;
    color: #fff;
    line-height: 1.50;
    height: 350px;

   img{
    max-width: 70%;
}

}
h3 {
    color: #d99054;
    font-family: Novecento Sans Web;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
}

.business-hours{

    flex: 1 0 20%;
}

.contact-info{
    flex: 0 1 20%;
    margin-left: 10rem;
}

.copyright {
    text-align: center;
    font-family: Novecento Sans Web;
    text-transform: uppercase;
    padding-top: 2rem;
}


