.site-footer {
    background: url(../../images/dark-wood.png) center repeat;
    font-size: .90em;
    color: #fff;
    line-height: 1.75;
   // height: 100%;

   img{
    width: 60%;
}

}
h3 {
    color: #d99054;
    text-transform: uppercase;
    font-family: Novecento Sans Web;
}

.business-hours{
    font-family: Merriweather Web;
    flex: 1 0 25%;
}

.contact-info{
    font-family: Merriweather Web;
    flex: 1 0 25%;


}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    text-align: center;
    font-family: Novecento Sans Web;
    text-transform: uppercase;

}


