/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	background: #248a83;
	color: #FFF;
	line-height: 1;
	padding: .8rem 1.5rem;
	text-transform: uppercase;
	font-family: Novecento Sans Web, sans-serif;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #e1e1e1;
	border-radius: 0px;
	background-color: $color__background-screen;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 6px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
