
     .site-header {
        background-color: rgba(255,255,255,0.7);
        position: fixed;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        z-index: 99999;

        .container{
            width: 1120px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            height:45px;
        }

        .main-navigation{
            display: flex;
            margin-top: 3px;

            li{
                padding: 10px;
                font-size: $font__size;
            }
        }

        .menu-toggle{
            button{
            border: none;
            }
        }

         .tent-img {
            padding:0.5em;
            height:50px;
            img {
                height: 100%;
                width: auto;
                margin-top: 7px;
            }
        }
        button{
            background: none;
            color: #248a83;
            padding: 0px;
            padding-top: 1px;

        }
        .fa-search{
            padding: 1rem;
        }

        .search-submit{
            float: left;
        }
}


