.home {


    .site-header {
        position: fixed;
        width: 100%;

        a {
            color: #248a83;
        }

        .container {
            display: flex;
        }

        .tent-img {
            img {
                width: 50px;
            }
        }
    }

}





.page-template {

    .site-header {
        position: fixed;
        width: 100%;

        a {
            color: #fff;
        }

        .container {
            display: flex;
        }

        .tent-img {
            img {
                width: 50px;
            }
        }
    }
}

