
    .site-header {
        position: fixed;
        width: 100%;

        a {
            color: #248a83;
        }

        .container,
        nav {
            display: flex;
            max-width: 1120px;
            margin: 0 auto;
        }

        label{
            display: none;
        }

        .tent-img {
            img {
                width: 50px;
            }
        }
    }


