/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Shop Stuff Area */

.home{


.shop {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
}

.shopping-area {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product-stuff {
    padding: 1em;   
    border: 1px solid #e1e1e1;
    flex: 0 1 18%;
    
    img {
        width: 30%;
        height: 30%;

    }

}

h2 a {
    display: none;
}

}

/* Journal Posts Area */

.home {
 
    .entries {
        display: flex;
        p{
            display: flex;
        }
    }

}
