/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Shop Stuff Area */

.home {

    .shop {
        text-align: center;
        padding: 20px;
        font-size: 2em;
        font-weight: normal;
        font-style: normal;
    }

    .shopping-area {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
    }

    .product-stuff {
        padding: 1em;
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        text-align: center;
        margin: 1%;

        img {
            width: 30%;
            height: 30%;
        }

        .item-button{
            font-family: Novecento Sans Web,sans-serif;
            font-size: .8rem;
            text-transform: uppercase;
            text-decoration: none;
            background: #248a83;;
            color: #fff;
            padding: .8rem 1.5rem;
        }
    }

    h2 a {
        display: none;
    }
}

.latest-post {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.three-post {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

.single-three-post {
    display: flex;
    flex: 1 0 30%;
    flex-flow: column nowrap;
    border: 1px solid #e1e1e1;
    text-align: center;
    margin: 1%;
}

.read-entry{
    font-family: Novecento Sans Web,sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    background: #fff;
    color: black;
    padding: .8rem .8rem;
}

/* Journal Posts Area */

.home {

    .entries {
        display: flex;
        justify-content: space-between;
        text-align: center;
        

    }

}

/* Latest Adventures */

.latest-adventures{

.adventure-heading{
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 400;
    font-style: normal;

}
}


